.site-section {
  padding: 2.5em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 5em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }
.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000; }

.text-white-opacity-05 {
  color: rgba(255, 255, 255, 0.5); }

.text-black-opacity-05 {
  color: rgba(0, 0, 0, 0.5); }

.podcast-entry {
  -webkit-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden; }
  .podcast-entry .sep {
    margin-left: 5px;
    margin-right: 5px;
    color: #ccc; }
  .podcast-entry .image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 300px; }
    @media (min-width: 768px) {
      .podcast-entry .image {
        width: 300px;
        height: auto; } }
  .podcast-entry .text {
    width: 100%;
    padding: 40px; }
    .podcast-entry .text a {
      color: #79A145; }
    @media (min-width: 768px) {
      .podcast-entry .text {
        width: calc(100% - 300px); } }
